<!DOCTYPE html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Movie Night VDB</title>
    <style type="text/css">
      body {
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <p><span style="font-weight:bold">Movie Night VDB</span>
      <ul>
        <li><a href="/vdb/pencilo-de-colores.mp4">Pencilo de Colores (2019)</a></li>
        <li>Paprika (2006)</li>
        <li>They Live (1988)</li>
	<li>Blade Runner (1982)</li>
	<li>A Scanner Darkly (2006)</li>
      </ul>
    </p>
  </body>
